# Project3 - Prediction of Customer Lifetime Value

__Objective__ - Customer lifetime value is an estimation of the net profit attributed to the entire future relationship with a customer. It is a very important metric in customer relationship management and helps in positioning products based on a customer’s lifetime value. 
<br>The objective of the project is to predict the customer lifetime value for an insurance company based on the data provided.

# About the Dataset
The dataset contains the following information of 9134 customers:
<br> __Customer__: Unique customer ID
<br> __State__: US province to where the customer belongs to
<br> __Coverage__: Nature of insurance coverage
<br> __Education__: Education level of customer
<br> __EmploymentStatus__: Employment status of the customer
<br> __Gender__: Gender of the customer
<br> __Income__: Customer annual income in USD
<br> __Location Code__: Type of location where customer lives
<br> __Marital Status__: Marital status of the customer
<br> __Monthly Premium Auto__: Monthly premium for auto insurance
<br> __Months Since Last Claim__: # of months before which the last claim was made
<br> __Months Since Policy Inception__: # of months before which the policy commenced
<br> __Number of Open Complaints__: # of unresolved complaints from the customer
<br> __Number of Policies__: # of policies with the current customer
<br> __Policy Type__: Type of policy
<br> __Policy__: Policy sub category
<br> __Renew Offer Type__: Offer given during renewal
<br> __Sales Channel__: Channel of sales
<br> __Total Claim Amount__: Amount claimed till date
<br> __Vehicle Class__: Type of vehicle
<br> __Vehicle Size__: Size of vehicle
<br> __Customer Lifetime Value__: Y variable

## Project Instructions:
1.	Perform the required data pre-processing to treat for missing values and outliers
2.	Perform exploratory data analysis to visualise the spread of each of the X variables and the relationship between the various X variables and the Y variable
3.	Build a regression model to predict the customer lifetime value
4.	Evaluate the model based on model performance measures for regression and recommend the most suitable model.
5.	Come up with recommendations / actionable insights based on the model and feature importance scores derived from the model.

In [1]:
import pandas as pd

insurance = pd.read_csv('insurance.csv')
insurance.head()

,Customer,State,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Customer Lifetime Value
0,BU79786,Washington,Basic,Bachelor,Employed,F,56274,Suburban,Married,69,...,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,2763.519279
1,QZ44356,Arizona,Extended,Bachelor,Unemployed,F,0,Suburban,Single,94,...,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,6979.535903
2,AI49188,Nevada,Premium,Bachelor,Employed,F,48767,Suburban,Married,108,...,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,12887.431650
3,WW63253,California,Basic,Bachelor,Unemployed,M,0,Suburban,Married,106,...,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,7645.861827
4,HB64268,Washington,Basic,Bachelor,Employed,M,43836,Rural,Single,73,...,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,2813.692575

In [2]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 22 columns):
Customer                         9134 non-null object
State                            9134 non-null object
Coverage                         9134 non-null object
Education                        9134 non-null object
EmploymentStatus                 9134 non-null object
Gender                           9134 non-null object
Income                           9134 non-null int64
Location Code                    9134 non-null object
Marital Status                   9134 non-null object
Monthly Premium Auto             9134 non-null int64
Months Since Last Claim          9134 non-null int64
Months Since Policy Inception    9134 non-null int64
Number of Open Complaints        9134 non-null int64
Number of Policies               9134 non-null int64
Policy Type                      9134 non-null object
Policy                           9134 non-null object
Renew Offer Type                 9134 non-null object
Sales Channel                    9134 non-null object
Total Claim Amount               9134 non-null float64
Vehicle Class                    9134 non-null object
Vehicle Size                     9134 non-null object
Customer Lifetime Value          9134 non-null float64
dtypes: float64(2), int64(6), object(14)
memory usage: 1.5+ MB

In [3]:
insurance.isnull().sum()

Customer                         0
State                            0
Coverage                         0
Education                        0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
Customer Lifetime Value          0
dtype: int64

In [4]:
insurance['Customer'].head()

0    BU79786
1    QZ44356
2    AI49188
3    WW63253
4    HB64268
Name: Customer, dtype: object

In [5]:
insurance['State'].head()

0    Washington
1       Arizona
2        Nevada
3    California
4    Washington
Name: State, dtype: object

In [6]:
insurance.nunique()

Customer                         9134
State                               5
Coverage                            3
Education                           5
EmploymentStatus                    5
Gender                              2
Income                           5694
Location Code                       3
Marital Status                      3
Monthly Premium Auto              202
Months Since Last Claim            36
Months Since Policy Inception     100
Number of Open Complaints           6
Number of Policies                  9
Policy Type                         3
Policy                              9
Renew Offer Type                    4
Sales Channel                       4
Total Claim Amount               5106
Vehicle Class                       6
Vehicle Size                        3
Customer Lifetime Value          8041
dtype: int64